
To 
Linux or macOS with Python ≥ 3.6
PyTorch ≥ 1.4
torchvision: that matches the PyTorch installation. You can install them together at pytorch.org to make sure of this.
OpenCV: needed by demo and visualization
pycocotools: pip install cython; pip install -U 'git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI'
Detectron2:
    python -m pip install 'git+https://github.com/facebookresearch/detectron2.git'
    # (add --user if you don't have permission)

    # Or, to install it from a local clone:
    git clone https://github.com/facebookresearch/detectron2.git
    python -m pip install -e detectron2

    # Or if you are on macOS
    CC=clang CXX=clang++ python -m pip install -e .
